body {
  font-family: Arial, sans-serif;
  background: #f4f6fb;
  margin: 0;
}

.top {
  background: #0b3d91;
  color: white;
  padding: 15px;
  text-align: center;
}

.container {
  padding: 15px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
}

.card {
  background: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
}

.btn {
  display: block;
  background: #0b3d91;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
}
